@import url('../../../index.css');

.modal-overlay {
    position: fixed;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
    background-color: rgba(0,0,0,.5);
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    .modal {
        padding: 2rem;
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        width: auto;

        h2 {
            padding-right: 4rem;
        }

        .close {
            position: absolute;
            right: 2rem;
        }
        .modal_actions {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 4rem;
        }
    }
}
