.icon__button--wrapper {
    height: 2rem;
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: none;
    background-color: transparent;
    font-size: 1.5rem;
}

.icon__button--contents {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon__button--icon {
    font-size: 1.5rem;
}
