#root {
    --text: rgb(96, 96, 96);
    --background-light: rgb(255, 255, 255);
    --background-dark: rgb(31, 27, 27);
    --body-dark: rgb(204, 204, 204);
    --body-light: rgb(96, 96, 96);
    --hover: rgba(0,0,0,.15);
    --hover-light: rgb(242, 242, 242);
    --hover-dark: rgb(15, 15, 15);
    --black: black;
    --white: white;
    --main-hover: black;
    --accent: rgb(227, 93, 44);
    --accent-hover: rgb(160, 57, 19);
    --info: rgb(21, 118, 166);
    --success: rgb(41, 171, 123);
    --warning: rgb(220, 156, 38);
    --error: rgb(181, 58, 58);
    --border-light: 1px solid rgb(238, 238, 238);
    --border-dark: 1px solid rgb(64, 64, 64);
    --border-color-light: rgb(238, 238, 238);
    --border-color-dark: rgb(64, 64, 64);
    --main-border: 2px solid var(--accent);
    --box-shadow-light: 1px 1px 3px 2px rgba(0, 0, 0, .05);
    --box-shadow-dark: 1px 1px 3px 2px rgba(0, 0, 0, .25);
    position: relative;
  }

  html,body {
    margin: 0;
    font-size: 14px;
    height: 100vh;
  }

  * {
    box-sizing: border-box;
    font-family: 'Rethink Sans';
    /* border: 1px solid green; */
  }

  button:disabled {
    pointer-events: none;
    opacity: .5;
  }

  #app {
    position: relative;
    height: 100dvh;
    width: 100dvw;
    display: flex;
    flex-direction: column;
  }

  .app-light {
    background-color: var(--background-light);
    color: var(--body-light);
  }

  .app-dark {
    background-color: var(--background-dark);
    color: var(--body-dark);
  }

  .app_router {
    display: flex;
    position: relative;
    /* padding-left: 5rem; */
    height: 100%;
  }

  .flex {
    display: flex;
    align-items: center;
    gap: .5rem;
  }

  .flex_full {
    display: flex;
    align-items: center;
    width: 100%;
  }


  .page_w_title {
    padding-top: 1rem;
    padding-right: 1rem;
  }

  .page_container {
    padding: 1rem;

  }

  .flex_spaced {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .router_container {
    width: 100%;
    /* padding: 1rem 0 */
  }

  .main {
    height: 100%;
    position: relative;
  }

  .uppercase {
    text-transform: uppercase;
  }

  .caps {
    text-transform: capitalize;
  }

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1.5rem 1rem 1rem;
      h2 {
          font-size: 1rem;
          font-weight: 600;
          padding-left: 1rem;
      }
      .actions {
        display: flex;
        gap: 1rem;
        align-items: center;
      }
  }

  .fixed_header {
    height: 3rem;
  }


  .footer {
    display: flex;
    align-items: center;
    padding: 1rem 1.5rem 1rem 1rem;
    justify-content: flex-end
  }

  .sub_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
      h2 {
          font-size: .8rem;
          font-weight: 600;
          color: var(--text);
          margin-left: 1rem;
      }
      .actions {
        display: flex;
        gap: 1rem;
        align-items: center;
      }
  }

  a {
    text-decoration: unset;
    color: unset
  }

  body, html {
    width: calc(100dvw - 10px);
    width: calc(100vw - 10px);
  }

  body, html, h1, h2, h3, h4, h5, p {
    margin: 0;
  }

  .bg-image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .list_items {
    position: relative;
    padding: 1rem 0;
    border-top: var(--border);
  }

  .options_modal {
    right: 0rem;
    top: calc(100% + 1rem);
    position: absolute;
    border-radius: 1rem;
    padding: .5rem;
    z-index: 10;
    display: flex;
    flex-direction: column;
    border-radius: 1.5rem;
  }

  .options_modal-light {
    box-shadow: var(--box-shadow-light);
    background-color: var(--background-light);


    .modal_option {
      &:hover {
        background-color: var(--hover-light);
      }
      .node-active {
        background-color: var(--accent);
      }

      .node-inactive {
        background-color: var(--border-color-light);
      }
    }
  }

  .options_modal-dark {
    box-shadow: var(--box-shadow-dark);
    background-color: var(--background-dark);
    .modal_option {
      &:hover {
        background-color: var(--hover-dark);
      }
      .node-active {
        background-color: var(--accent);
      }

      .node-inactive {
        background-color: var(--border-color-dark);
      }
    }
  }

  .modal_option {
    display: flex;
    align-items: center;
    gap: .5rem;
    padding: .5rem;
    border-radius: 1.5rem;

    .option_label {
      padding-right: .5rem;
    }

    .option_node {
      height: .75rem;
      border-radius: .75rem;
      aspect-ratio: 1;
    }

    .option_label {
      white-space: nowrap;
    }


  }

  .active_link {
    color: var(--accent);
    opacity: 1;
  }


  .float_left {
    display: flex;
    align-items: center;
    gap: 1rem
  }

  .float_right {
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: flex-end;
  }

  .pad_left {
    padding-left: 1rem;
  }

  .pad_top {
    padding-top: 1rem
  }

  .pad_bottom {
    padding-bottom: 1rem;
  }

  .pad_right {
    padding-right: 1rem;
  }

  .pad_full {
    padding: 1rem;
  }

  .float_full {
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: space-between;
    width: 100%;
  }

  .xxs {
    font-size: .65rem;
  }

  .xs {
    font-size: .8rem;
  }

  .sm {
    font-size: 1rem;
  }

  .md {
    font-size: 1.25rem;
  }

  .lg {
    font-size: 1.5rem;
  }

  .xl {
    font-size: 2rem
  }

  .bold {
    font-weight: 700;
  }
  .reg {
    font-weight: 400;
  }

  .accent {
    .icon {
      color: var(--accent);
    }
    color: var(--accent);
  }

  .deg45 {
    transform: rotate(45deg);
  }



  .tab_header {
    display: flex;
    justify-content: space-between;
    padding-left: 1rem;
    /* margin-bottom: 1rem; */
  }

  .tabs {
    gap: 3rem;
  }

.tab {
  opacity: .5;
  padding: 1rem 0;
  cursor: pointer;
}

.tab-light {
  color: var(--body-light);
}

.tab-dark {
  color: var(--body-dark);
}


.active-tab {
  color: var(--accent);
  opacity: 1;
}

/* width */
::-webkit-scrollbar {
  width: .25rem;
  border-radius: 1rem;
  height: 0;
}

.app-light {
  ::-webkit-scrollbar-track {
    background-color: var(--background-light);
    border-radius: .5rem;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--hover-light);
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--border-color-light);
  }
}

.app-dark {
  ::-webkit-scrollbar-track {
    background-color: var(--background-dark);
    border-radius: .5rem;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--hover-dark);
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--border-color-dark);
  }
}

/*
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}

input:-webkit-autofill {
  transition: background-color 5000s ease-in-out 0s;
} */


  /* Tablet */
@media screen and (max-width: 1109px) {
  .display {
    font-size: 40px;
    line-height: 40px;
  }

  .heading {
    font-size: 28px;
    line-height: 28px;
    margin-bottom: 6px;
  }

  .subheading {
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 6px;
  }

  .small {
    font-size: 12px;
  }

}

@media screen and (max-width: 900px) {
  html,body {
    font-size: 12px;
  }
  .header {
    padding-right: 4.5rem;
  }
}
