#root {
    --black: #0f0f0f;
    --white: #e3e3e3;
    --background: #0e0e0e;
    --main: #daa431;
    --main-hover: #daa431;
    --success: #226e52;
    --warning: #dc9c26;
    --error: #a02828;
    --border: 1px solid #1a1a1a;
    --main-border: 1px solid #daa431;
    --border-color:#262626;
    --white-hover: #f8f8f8;
    --black-hover: #151515;
    position: relative;
  }

  html,body {
    margin: 0;
    font-size: 14px;
    height: 100vh;

  }

  * {
    box-sizing: border-box;
    font-family: 'Outfit';
    /* border: 1px solid green; */
  }

  #app {
    position: relative;
    height: 100dvh;
    width: 100dvw;
    display: flex;
    flex-direction: column;
    background-color: var(--background);
    color: var(--white);
  }

  .page {
    flex: 1;
    height: calc(100% - 4rem);
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }

  .main {
    height: 100%;
    position: relative;
  }

  .section {
    height: 100%;
  }

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    border-bottom: var(--border);
      h2 {
          font-size: 1rem;
          font-weight: 600;
          margin-left: 1rem;
      }
      .actions {
        display: flex;
        gap: 1rem;
        align-items: center;
      }
  }

  .sub_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
      h2 {
          font-size: .8rem;
          font-weight: 600;
          opacity: .5;
          margin-left: 1rem;
      }
      .actions {
        display: flex;
        gap: 1rem;
        align-items: center;
      }
  }

  .scroll {
    overflow-y: scroll;
    height: 100%;
  }

  a {
    text-decoration: unset;
    color: unset
  }

  body, html {
    width: calc(100dvw - 10px);
    width: calc(100vw - 10px);
  }

  body, html, h1, h2, h3, h4, h5, p {
    margin: 0;
  }

  .display {
    font-size: var(--display);
    line-height: var(--display);
    font-weight: 600;
  }

  .heading {
    font-size: var(--heading);
    line-height: var(--heading);
    margin-bottom: 12px;
    font-weight: 600;
  }

  .heading_link-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .subheading {
    font-size: var(--subheading);
    line-height: var(--subheading);
    margin-bottom: 12px;
    font-weight: 600;
  }

  .body {
    font-size: var(--body);
    line-height: 1.2;
    margin-bottom: 6px;
  }

  .small {
    color: var(--dark-gray);
    font-size: 15px;
    margin-bottom: 6px;
  }

  .bold {
    font-weight: 600;
  }

  .green {
    color: var(--teal);
  }

  .caps {
    text-transform: capitalize;
  }

  .absolute {
    position: absolute
  }

  .bg-image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .disabled-link {
    color: var(--dark-gray);
    pointer-events: none;
    cursor: unset;
    text-decoration: none;
  }

  .loading {
    padding: 24px 0;
  }

  .dark-theme .primary {
    background-color: var(--main);
    color: var(--black);
    &:hover {
      background-color: var(--main-hover);
    }
  }

  .dark-theme .secondary {
    background-color: var(--dark-bg);
    outline: 1px solid var(--dark-border);
    color: var(--white);
    &:hover {
      background-color: var(--dark-border);
    }
  }

  .light-theme .primary {
    background-color: var(--main);
    color: var(--black);
    &:hover {
      background-color: var(--main-hover);
    }
  }

  .light-theme .secondary {
    background-color: var(--white);
    outline: 1px solid var(--border);
    color: var(--main);
    &:hover {
      background-color: var(--white-hover);
    }
  }



  /* width */
  ::-webkit-scrollbar {
    width: 0px;
    height: 3px;
  }

  /* Track */
  .light-theme {
    ::-webkit-scrollbar-track {
      background: white;
    }
    /* Handle */
    ::-webkit-scrollbar-thumb {
      background: #FF5A5F;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
      background: var(--main);
    }
  }

   /* Track */
   .dark-theme {
    ::-webkit-scrollbar-track {
      background: var(--dark-bg);
    }
    /* Handle */
    ::-webkit-scrollbar-thumb {
      background: var(--dark-border);
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
      background: var(--main);
    }
  }





  /* Tablet */
@media screen and (max-width: 1109px) {
  .display {
    font-size: 40px;
    line-height: 40px;
  }

  .heading {
    font-size: 28px;
    line-height: 28px;
    margin-bottom: 6px;
  }

  .subheading {
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 6px;
  }

  .small {
    font-size: 12px;
  }

}

/* Mobile */
@media screen and (max-width: 600px) {
  .display {
    font-size: 35px;
    line-height: 35px;
  }

  .heading {
    font-size: 25px;
    line-height: 25px;
    margin-bottom: 6px;
  }

  .subheading {
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 6px;
  }

  .body {
    font-size: 16px;
  }

  .small {
    font-size: 12px;
  }

}
