@import url('../../index.css');

.btn {
    padding: 15px 25px;
    font-size: 18px;
    border-radius: 5px;
    border: none;
    font-family: 'Outfit';
    cursor: pointer;
}

.primary {
    background-color: var(--red);
    color: white;
}

.small-btn {
    font-size: 15px;
    padding: 10px 15px;
}

.secondary {
    background-color: var(--teal);
    color: white;
}

.tertiary {
    background-color: var(--dark-gray);
    color: var(--white)
}
.spaced {
    margin: 10px 0;
}


.btn-disabled {
    pointer-events: none;
    background-color: var(--light-gray);
    color: var(--dark-gray)
}


.upload-btn {
    padding: 10px 15px;
    border: 1px solid var(--light-gray);
    font-size: 15px;
    border-radius: 5px;
    z-index: 50px;
    cursor: pointer;
}

.upload_input--wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    margin: 10px 0;
}

.value--not_populated {
    color: var(--light-gray)
}
