@import url('../../../index.css');

.chat_item {
    padding: 1rem;
    display: flex;
    gap: 1rem;
    border-radius: 1.5rem;
    position: relative;
    transition: background .2s ease;
    &:hover {
        .chat_icons {
            opacity: 1;
            pointer-events: unset;
        }
    }
}

.chat_item-light {
    color: var(--body-light);
    &:hover {
        background: var(--hover-light);
    }
}

.chat_item-dark {
    color: var(--body-dark);
    &:hover {
        background: var(--hover-dark);
    }
}

.chat_icons {
    opacity:0;
}

.editing_chat-light {
    outline: none;
    background-color: var(--hover-light);
}

.editing_chat-dark {
    outline: none;
    background-color: var(--hover-dark);
}

.chat_details {
    width: 100%;
    padding: .5rem 0 0 0;
}

.chat_textarea {
    border: none;
    width: 100%;
    resize: none;
    overflow-y: 'hidden';
    padding: 0;
    font-size: 1rem;
    background: transparent;
    &:focus {
        outline: transparent;
    }
}

.chat_textarea-light {
    color: var(--body-light)
}

.chat_textarea-dark {
    color: var(--body-dark)
}

.chat_preview {
    display: flex;
    flex-direction: column;
    padding: 1rem 0;
    width: 100%;

    .chat_item {
        pointer-events: none;
    }
}

.chat_flex {
    display: flex;
    align-items: center;;
    gap: .5rem;
}


.chat_controls {
    display: flex;
    position: absolute;
    right: 0;
    top: 0;
    gap: 1rem;
    flex-direction: row;
    align-items: center;
    border-radius: 0 1.5rem 0 1.5rem ;
    padding: .75rem 1rem;
}

.chat_control {
    display: flex;
    align-items: center;
    gap: .375rem;
    cursor: pointer;
}

.chat_likes {
    cursor: pointer;
    position: absolute;
    right: 1rem;
    top: 1rem;
    display: flex;
    align-items: center;
    gap: .5rem;

    .icon {
        font-size: 1.25rem;
    }
}

.chat_liker {
    cursor: pointer;
    transition: background .2s;
    display: flex;
    align-items: center;
    gap: .375rem;
    position: absolute;
    bottom: 0;
    right: 0;
    padding: .75rem 1rem;
}
