@import url('../../index.css');

.light-theme {
    .alert-wrapper {
        &:hover {
            background-color: var(--white-hover);
        }
    }
    .alert-dismiss {
        background-color: var(--white-hover);
    }
}

.dark-theme {
    .alert-wrapper {
        border-bottom: 1px solid var(--dark-border);
        &:hover {
            background-color: var(--black);
        }
    }

    .alert-dismiss {
        background-color: var(--black);
    }
}

.alerts-wrapper {
    position: fixed;
    z-index: 15;
    display: flex;
    top: 5.5rem;
    left: calc(40vw + .5rem);
    width: auto;
    border-radius: .5rem;

}

.alerts-contents {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: .5rem;
    gap: .5rem;
}

.alert-label {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.alert-wrapper {
    display: flex;
    width: 100%;
    justify-content: space-between;
    position: relative;
    padding: .5rem 5rem .5rem .5rem;
    gap: 1rem;
    border-radius: .5rem;
    align-items: center;
    height: 3rem;
    cursor: pointer;
    .body {
        margin: 0;
        margin-right: 50px;
    }

    .alert-contents {
        display: flex;
        align-items: center;
        gap: .5rem;
        width: 100%;
    }

    .alert-icon {
        height: 1.5rem;
        aspect-ratio: 1;
        border-radius: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
    }

    .alert_icon--success {
        color: var(--success);
    }

    .alert_icon--warning {
        color: var(--warning);
    }

    .alert_icon--fail {
        color: var(--error);
    }

    .alert-dismiss {
        color: var(--dark-gray);
        cursor: pointer;
        position: absolute;
        right: .5rem;
        height: 2rem;
        aspect-ratio: 1;
        border-radius: .5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1rem;
    }

    .alert-status {
        position: absolute;
        right: 0;
        top: 0;
        height: 2rem;
        aspect-ratio: 1;
        font-size: 1.25rem;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        border-radius:  0 .5rem 0 .5rem;
    }

    .alert-status--success {
        background-color: rgb(89, 201, 123);
    }

    .alert-status--fail {
        background-color: rgb(255, 121, 121);
    }

    .alert-message {
        h5, p {
            font-size: 1rem;
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 1; /* number of lines to show */
                    line-clamp: 1;
            -webkit-box-orient: vertical;
        }
    }
}



/* Tablet */
@media screen and (max-width: 1109px) {
    .alerts-wrapper {
        left: 5rem;
    }

}

@media screen and (max-width: 850px) {
    .alerts-wrapper {
        left: 2rem;
        right: 2rem;
        width: auto;
        top: unset;
        bottom: 1rem;
    }

}
