@import url('../../index.css');


.session_comments {
    border-top: var(--border);
    position: relative;

    .section_label {
        position: absolute;
        padding: .5rem;
        background-color: var(--background);
        left: .5rem;
        top: -1.15rem
    }
}

.comments_list {
    padding: 0rem 0rem 5rem 0rem;
    display: flex;
    flex-direction: column;
}

.comment {
    position: relative;
    padding: 1rem 1rem 2rem 1rem;
    border-radius: 1.5rem;
    display: flex;
    align-items: flex-start;
    // outline: var(--border);
    gap: 1rem;
    &:hover {
        background-color: var(--hover);
    }

    .reply_icon {
        font-size: 1.5rem;
        align-self: center;
        margin: 0 1rem;
    }
}

.deleting_comment {
    background-color: var(--black-hover);
    pointer-events: none;
    padding: 1rem;
    margin: 1rem 0;
}

.new-comment {
    background-color: var(--black-hover);
}

.comment_contents {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.comment_creator {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.comment_text {
    width: 100%;
    resize: none;
    // padding: .5rem;
    padding: 0;
    border-radius: .5rem;
    font-size: 1rem;
    border: none;
    color: var(--white);
    background-color: transparent;
    &:focus {
        outline: transparent
    }
}

.comment_actions {
    position: absolute;
    display: flex;
    right: 1rem;
    gap: 1rem;
    bottom: 1rem;
}

// .new_comment_btn {
//     position: absolute;
//     right: 0;
//     top: 1rem
// }

.no_comments {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 5rem 0;
    border-radius: .5rem;
    gap: 1rem;
    opacity: .5;
    .icon {
        font-size: 2rem;
    }
}

// .modal_container {
//     position: relative;
//     background-color: var(--background);
//     width: 600px;
//     padding: 2rem;
//     box-shadow: var(--box-shadow);
//     display: flex;
//     flex-direction: column;
//     border-radius: 1.5rem;
// }
