#root {
    --white: #FFFFFF;
    --black: #0f0f0f;
    --dark-bg: #1a1a1a;
    --dark-gray: #999999;
    --light-gray: #ededed;
    --red: #23589d;
    --teal: #00525E;
    --light-teal: #E8F0FE;
    --display: 46px;
    --heading: 36px;
    --subheading: 24px;
    --border: #f1f1f1;
    --dark-border: #494949;
    --white-hover: #f8f8f8;
    --error: #fa4c4c;
    --body: 18px;
    --max: 1110px;
    --min: 100%;
    --center: 0 auto;
    position: relative;
  }

  html,body {
    margin: 0;
    font-size: 14px;
  }

  * {
    box-sizing: border-box;
    font-family: 'Outfit';
    /* border: 1px solid green; */
  }

  #app-wrapper {
    position: relative;
    height: 100dvh;
    width: 100dvw;
    display: flex;
    flex-direction: column;
  }

  a {
    text-decoration: unset;
    color: unset
  }

  body, html {
    width: calc(100dvw - 10px);
    width: calc(100vw - 10px);
  }

  body, html, h1, h2, h3, h4, h5, p {
    margin: 0;
  }

  .display {
    font-size: var(--display);
    line-height: var(--display);
    font-weight: 600;
  }

  .heading {
    font-size: var(--heading);
    line-height: var(--heading);
    margin-bottom: 12px;
    font-weight: 600;
  }

  .heading_link-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .subheading {
    font-size: var(--subheading);
    line-height: var(--subheading);
    margin-bottom: 12px;
    font-weight: 600;
  }

  .body {
    font-size: var(--body);
    line-height: 1.2;
    margin-bottom: 6px;
  }

  .small {
    color: var(--dark-gray);
    font-size: 15px;
    margin-bottom: 6px;
  }

  .bold {
    font-weight: 600;
  }

  .green {
    color: var(--teal);
  }

  .caps {
    text-transform: capitalize;
  }

  .absolute {
    position: absolute
  }

  .bg-image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .disabled-link {
    color: var(--dark-gray);
    pointer-events: none;
    cursor: unset;
    text-decoration: none;
  }

  .loading {
    padding: 24px 0;
  }

  .dark-theme .primary {
    border: none;
    background-color: var(--red);
    color: white;
    box-shadow: 0px 0px 5px 1px rgba(0,0,0, .15);
  }

  .dark-theme .secondary {
    background-color: var(--dark-bg);
    border: 1px solid var(--dark-border);
    color: var(--white);
    box-shadow: 0px 0px 5px 1px rgba(0,0,0, .15);
  }

  .light-theme .primary {
    border: none;
    background-color: var(--red);
    color: white;
    box-shadow: 0px 0px 5px 1px rgba(0,0,0, .15);
  }

  .light-theme .secondary {
    background-color: var(--white);
    color: var(--red);
    border: none;
    box-shadow: 0px 0px 5px 1px rgba(0,0,0, .15);
  }



  /* width */
  ::-webkit-scrollbar {
    width: 0px;
    height: 0;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: white;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #FF5A5F;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--red);
  }


  /* Tablet */
@media screen and (max-width: 1109px) {
  .display {
    font-size: 40px;
    line-height: 40px;
  }

  .heading {
    font-size: 28px;
    line-height: 28px;
    margin-bottom: 6px;
  }

  .subheading {
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 6px;
  }

  .small {
    font-size: 12px;
  }

}

/* Mobile */
@media screen and (max-width: 600px) {
  .display {
    font-size: 35px;
    line-height: 35px;
  }

  .heading {
    font-size: 25px;
    line-height: 25px;
    margin-bottom: 6px;
  }

  .subheading {
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 6px;
  }

  .body {
    font-size: 16px;
  }

  .small {
    font-size: 12px;
  }

}
