@import url('../../index.css');

.manage_group-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.manage_group-header {
    background-color: var(--white);
    padding: 150px 0 36px 0;
}

.manage_group-header-contents {
    width: var(--max);
    margin: var(--center)
}

.manage_group-actions {
    margin-top: 24px;
    display: flex;
    gap: 24px;
}

.manage_group-contents {
    background-color: var(--light-gray);
    padding: 24px 0;
    flex: 1;
}

.manage_group-grid-wrapper {
    width: var(--max);
    margin: var(--center);
}

.manage_group-grid {
    display: grid;
    grid-template-columns: 65% 35%;
    gap: 24px;
    width: calc(100% - 24px);
}

.manage_group-members ul {
    background-color: var(--white);
    padding: 24px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
}

.member_actions-wrapper {
    background-color: var(--white);
    padding: 24px;
    border-radius: 10px;
}

.member_actions-header {
    border-bottom: 1px solid var(--light-gray);
    padding-bottom: 12px;
    text-transform: capitalize;
}

.member_actions-actions {
    padding-top: 24px;
    display: flex;
    gap: 24px;
}

.member-wrapper {
    border: 2px solid var(--white);
    cursor: pointer;
}

.selected-member {
    border: 2px solid var(--red);
    border-radius: 10px;
}
