@import url('../../index.css');

.manage_group-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.manage_group-header {
    background-color: var(--white);
    padding: 150px 0 36px 0;
}

.manage_group-header-contents {
    width: var(--max);
    margin: var(--center)
}

.manage_group-actions {
    margin-top: 24px;
    display: flex;
    gap: 24px;
}

.manage_group-contents {
    background-color: var(--light-gray);
    padding: 48px 0;
    flex: 1;
}

.manage_group-grid-wrapper {
    width: var(--max);
    margin: var(--center);
}

.manage_group-grid {
    display: grid;
    grid-template-columns: 65% 35%;
    gap: 24px;
    width: calc(100% - 24px);
}

.manage_group-members-contents {
    background-color: var(--white);
    padding: 24px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
}

.member_actions-wrapper {
    background-color: var(--white);
    padding: 24px;
    border-radius: 10px;
}

.member_actions-header {
    border-bottom: 1px solid var(--light-gray);
    padding-bottom: 12px;
    text-transform: capitalize;
}

.member_actions-actions {
    padding-top: 24px;
    display: flex;
    gap: 24px;
}

.member-wrapper {
    border: 2px solid var(--white);
    cursor: pointer;
}

.selected-member {
    border: 2px solid var(--red);
    border-radius: 10px;
}

.manage_group-tabs {
    display: flex;
    gap: 36px;
    padding-top: 36px;
}

.manage_group-tab {
    cursor: pointer;
}



@media screen and (max-width: 1109px) {
    .manage_group-header-contents {
        width: 100%;
        padding: 0 7.5%;
    }
    .manage_group-grid-wrapper {
        width: 100%;
        padding: 0 7.5%;
    }

    .manage_group-grid {
        grid-template-columns: 1fr;
        width: 100%;
    }
}

@media screen and (max-width: 800px) {
    .manage_group-members-contents {
        grid-template-columns: repeat(3, 1fr);
    }
}


@media screen and (max-width: 600px) {
    .manage_group-actions {
        flex-wrap: wrap;
    }

    .manage_group-members-contents {
        grid-template-columns: repeat(2, 1fr);
    }

    .manage_group-header {
        padding: 175px 0 36px 0;
    }
}
