@import url('../../index.css');

.landing--footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid var(--border);
    padding: 30px 0;
    width: var(--max);
    margin: var(--center);
    margin-top: 150px;
}

.landing--socials {
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 25px;
}

.landing--repo,
.landing--technology-item {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 14px;
    border: 1px solid var(--border);
    padding: 5px 10px;
    border-radius: 15px;
    color: var(--dark-gray)
}

.landing--repo,
.landing--socials {
    color: var(--orange)
}

.landing--repo {
    cursor: pointer;
    text-decoration: none;
    font-size: 16px;
    color: var(--red)
}
.landing--repo:hover {
    background-color: var(--red);
    border: 1px solid var(--red);
    color: white;
}

.landing--technologies {
    display: flex;
    align-items: center;
    gap: 15px;
}

.landing--socials a {
    color: var(--red);
    cursor: pointer;
}

@media screen and (max-width: 1109px) {
    .landing--footer {
        width: 100%;
        padding: 30px 7.5%;
        flex-direction: column;
        gap: 30px;
    }

    .landing--technologies {
        flex-wrap: wrap;
        justify-content: center;
    }
  }

  /* Mobile */
  @media screen and (max-width: 600px) {

  }
