@import url('../../../index.css');

.image_border {
    aspect-ratio: 1;
    border-radius: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: var(--main-border);

    .initial {
        font-weight: 600;
        color: white;
    }

    .image {
        aspect-ratio: 1;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-color: var(--main);
    }

    .profile_circle {
        aspect-ratio: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--text);
    }
    .details {
        p {
            font-size: 1rem;
        }
    }
}
