@import url('../../../index.css');

.image_border {
    aspect-ratio: 1;
    border-radius: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;

    .initial {
        font-weight: 600;
        text-transform: uppercase;
    }

    .image {
        aspect-ratio: 1;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    .profile_circle {
        aspect-ratio: 1;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .details {
        p {
            font-size: 1rem;
        }
    }
}

.image_border-light {
    box-shadow: var(--box-shadow-light);
    .initial {
        color: var(--body-light);
    }

    .image {
        background-color: var(--background-light);
    }

    .profile_circle {
        background-color: var(--hover-light);
    }
}

.image_border-dark {
    box-shadow: var(--box-shadow-dark);
    .initial {
        color: var(--body-dark);
    }

    .image {
        background-color: var(--background-dark);
    }

    .profile_circle {
        background-color: var(--hover-dark);
    }
}
