@import url('../../index.css');



.side_pane {
    --mobile-width: 100%;
    --desktop-width: 70%;
    --width: 50%;
    --offset-mobile-width: -100%;
    --offset-desktop-width: -70%;
    --offset-width: -35%;
    position: relative;
    left: 0;
    height: 100%;
    border-right: var(--border);
    width: var(--width);

    .side_pane-button {
        position: absolute;
        right: -3.5rem;
        top: 1rem;
        z-index: 5;
    }
}

.home {
    .main {
        display: flex;
        position: relative;
    }
}

.side_pane--open {
    width: 50vw;
}
.side_pane--closed {
    width: 0;
}

// /* Tablet */
@media screen and (max-width: 1109px) {
    .side_pane {
        width: var(--desktop-width);
    }
    .side_pane--closed {
        left: var(--offset-desktop-width);
    }
}

/* Mobile */
@media screen and (max-width: 900px) {
    .side_pane {
        width: var(--mobile-width);
        border: none;
    }
    .side_pane--closed {
        left: var(--offset-mobile-width);
    }
    .side_pane--open {
        .side_pane-button{
            border: none;
            right: 1rem;
        }
    }

}
