@import url('../../../index.css');


.button {
    padding: 0 1rem;
    font-size: 1rem;
    height: 2.5rem;
    font-weight: 600;
    border-radius: .5rem;
    border: none;
    font-family: 'Outfit';
    background-color: var(--background);
    color: var(--white);
    outline: var(--border);
    cursor: pointer;

    &:hover {
        background-color: var(--black-hover);
    }



    .span {
        white-space: nowrap;
        display: block;
    }

    .button--contents {
        display: flex;
        align-items: center;
        gap: .5rem;
    }

    .centered {
        justify-content: center;
    }

    .button--icon {
        font-size: 1.25rem;
    }
}


.icon-button {
    padding: 0;
    height: 2.5rem;
    font-weight: 600;
    aspect-ratio: 1;
    border-radius: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: var(--background);
    cursor: pointer;
    color: var(--white);

    &:hover {
        outline: var(--border);
        background-color: var(--black-hover);
    }

    .icon {
        font-size: 1.25rem;
    }
}

.small_button {
    font-size: .8rem;
    height: 2rem;
}


.back--button {
    padding: 0 1rem;
    border-radius: .5rem;
    display: flex;
    align-items: center;
    gap: .5rem;
    height: 2.5rem;
    outline: var(--border);
    cursor: pointer;
    .icon {
        font-size: 1.25rem;
    }
    span {
        font-size: 1rem;
    }
}
