@import url('../../../index.css');

.loading {
    width: 100%;
    min-height: 100px;
    max-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 10;
}


@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.spinner {
    font-size: 3rem;
    color: var(--accent);
    animation-duration: .619s;
    animation-name: spin;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.loading-light {
    background-color: var(--background-light);
}

.loading-dark {
    background-color: var(--background-dark);
}
