@import url('../App/index.css');

.light-theme {
    .players__wrapper {
        // border-top: 1px solid var(--border);
        // border-bottom: 1px solid var(--border);
    }
    .players__item--wrapper {
        border: 2px solid var(--border);
    }
}

.dark-theme {
    .players__wrapper {
        // border-top: 1px solid var(--dark-border);
        // border-bottom: 1px solid var(--dark-border);
    }
    .players__item--wrapper {
        border: 2px solid var(--dark-border);
    }
}

.players__wrapper {
    padding: 0rem 0rem 1rem 0;
    .players__contents {
        padding: 0 1rem;
    }
}


.players__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    h1 {
        font-size:  1.25rem;
    }
}


.players__list {
    display: flex;
    gap: 2rem;
    overflow-x: scroll;
    padding: 1rem 0rem;
}

.players__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
}


.players__item--wrapper {
    height: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5rem;
    border: 2px solid yellow;
    aspect-ratio: 1;
}

.players__item--image {
    height: 5rem;
    border-radius: 5.5rem;
    aspect-ratio: 1;
    background-color: #f4f4f4;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
