@import url('../../index.css');


.app_nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    align-items: center;
    position: relative;
    left: 0;
    position: fixed;
    z-index: 50;
    color: var(--border-color);
  }

  .app_nav_bottom,
  .app_nav_top {
    gap: 1rem;
    width: 5rem;
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .app_link:hover {
    color: var(--text);
  }

  .app_link {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    transition: color .3s ease;
    cursor: pointer;
    a {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  .nav_link {
    width: 3rem;
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    justify-content: center;

    .nav_icon {
      font-size: 1.5rem;
    }
  }
