@import url('../../index.css');




.search_input {
    height: 3rem;
    border: none;
    width: 100%;
    padding: 0 1rem;
    border-radius: 5rem;

}

.search_input-light {
    outline: var(--border-light);
    background-color: var(--background-light);
    color: var(--body-light);
    &:focus, &:hover  {
        background-color: var(--hover-light);
        outline: transparent;
    }
}

.search_input-dark {
    outline: var(--border-dark);
    background-color: var(--background-dark);
    color: var(--body-dark);
    &:focus, &:hover  {
        background-color: var(--hover-dark);
        outline: transparent;
    }
}
