@import url('../../index.css');

.search {
    padding-top: 1rem;
    padding-right: 1rem;
}

.tab_header {
    display: flex;
    justify-content: space-between;
    padding: 1rem 1.5rem 1rem 1rem;

    .tabs {
        .tab {
            color: var(--text);
            opacity: .5;
            padding: 0 1rem;
           cursor: pointer;
        }

        .active-tab {
            color: var(--main);
            opacity: 1;
        }
    }
}
