@import url('../../../App/index.css');

.light-theme {
    .page--header {

    }
}

.dark-theme {
    .section--header {
        border-top: 1px solid var(--dark-border);
    }
}

.page--wrapper {
     display: flex;
     flex-direction: column;
     height: 100%;
}

.page--button {
    font-size: 1rem;
    padding: .5rem 1rem;
}

.page--actions {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.page--header {

}

.section--flex {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    width: 100%;
    padding: 1rem;
    margin-bottom: 1rem;
}

.page--header,
.section--header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;

    h1, h2 {
        font-size: 1rem;
        opacity: .5;
    }
}
.section--header {
    padding: 1rem;
    h2 {
        padding: 0 1rem;
    }
}

.page--section {
    padding: 0;
}
